@charset "utf-8";

/*
    SHOME - About Us's Css

    Author: SAM HEW WEI
    Date:   11th September 2021

    Filename: about_us.css*/
html {
    position: relative;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 232, 199);
    font-family: 'Times New Roman', Times, serif;
}

/*header*/
nav.header ul {
    list-style-type: none;
    margin: 8px;
    margin-right: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(92, 61, 46);
    height: 100px;
    width: 99.35%;
    border-radius: 20px;
}


    nav.header ul li {
        float: left;
        width: auto;
    }

nav.header li:hover {
    background-color: rgb(134, 84, 57);
}

nav.header ul li > a {
    display: block;
    padding: 0;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    padding: 33px 30px;
}

    nav.header ul li > a > img {
        display: block;
        width: 260px;
        height: 100px;
    }

/*About Us*/
body article {
    display: block;
    width: 100%;
}

article > img.mylogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 1%;
}

body article h1 {
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
}

article p.abtus {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #EDBB99;
    padding: 2% 3%;
}

video {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 2%;
}


body dl dt h2 {
    text-align: center;
    margin-top: 2%;
}

.img2 {
    margin-top: 2%;
    margin-left: 3%;
    width: 25%;
    float: left;
    padding: 2%;
}

    .img2::before {
        content: "";
        clear: both;
        display: table;
    }

dd {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #EDBB99; /*depend theme*/
    padding: 2% 3%;
}

h2.block {
    clear: both;
    text-align: center;
}

blockquote {
    clear: both;
    text-align: justify;
    margin: 0% 2% 5% 2%;
    background-color: #EDBB99; /*depend theme*/
    padding: 2% 3%;
}

/*fixed image*/
div.ContactUs {
    width: 180px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgb(92, 61, 46);
    color: whitesmoke;
    padding: 0%;
    border-radius: 0%;
    border-top-left-radius: 10px;
}

    div.ContactUs a {
        font-size: 25px;
        text-align: center;
        padding-left: 5px;
        color: whitesmoke;
        text-decoration: none;
        vertical-align: 5px;
    }

    div.ContactUs:hover {
        background-color: rgb(134, 84, 57);
    }

    div.ContactUs i {
        padding-left: 10px;
        padding-top: 5px;
    }
/*footer*/
footer {
    width: 100%;
    background-color: black;
    color: whitesmoke;
    margin: 0px;
    position: absolute;
    left: 0px;
    z-index: -1;
    display: block;
}

table.footer {
    margin-left: 0;
    margin-right: auto;
    margin-top: 100px;
    width: 80%;
    font-size: 16px;
}

    table.footer tr th {
        text-align: center;
        font-size: 25px;
    }

    table.footer tr td {
        text-align: left;
    }

        table.footer tr td ul li {
            list-style-type: none;
        }

            table.footer tr td ul li > a {
                text-decoration: none;
                color: gray;
                font-style: italic;
            }

                table.footer tr td ul li > a:hover {
                    color: blue;
                }

        table.footer tr td ul {
            margin: 0%;
        }

            table.footer tr td ul.location {
                padding-left: 35%;
            }

            table.footer tr td ul.menu {
                padding-left: 30%;
                line-height: 30px;
                padding-top: 20px;
            }

            table.footer tr td ul.moreinformation {
                padding-left: 29%;
                line-height: 30px;
            }

            table.footer tr td ul.contact {
                padding-left: 30%;
                line-height: 30px;
            }

footer h5 {
    margin: 0%;
    width: 400px;
    padding-left: 45%;
    font-size: 73.8%;
}
/* =============================================
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger 
	devices.
   =============================================
*/


@media only screen and (min-width: 481px) {

    html {
        position: relative;
        width: 100%;
    }


    body {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

        body article h1 {
            font-size: 1.5em;
            text-decoration: underline;
            text-align: center;
        }

    dl dt h2 {
        font-size: 1.3em;
        text-align: left;
        margin-top: 10%;
    }
}
/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/
@media only screen and (min-width: 769px) {
    html {
        position: relative;
        width: 100%;
    }

    html {
        margin: 0px auto;
    }

    body {
        width: 100%;
        max-width: 100%;
        margin: 0px auto auto auto;
        clear: none;
        float: none;
    }

        body article h1 {
            font-size: 1.6em;
            text-decoration: underline;
            text-align: center;
        }

        body dl dt h2 {
            font-size: 1.4em;
            text-align: center;
        }
}
