
@charset"utf-8";

html{
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: auto;
    background-color: rgb(245, 232, 199);
    font-family: 'Times New Roman', Times, serif;
}

/*header*/
nav.header ul{
    list-style-type: none;
    margin: 8px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(92, 61, 46);
    height: 100px;
    width: 99.3%;
    border-radius: 20px; 
}


nav.header ul li{
    float: left;
    width: auto;
} 

nav.header li:hover{
    background-color: rgb(134, 84, 57);
}

nav.header ul li>a{
    display: block;
    padding: 33px 30px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

nav.header ul li > a > img{
    display: block;
    width: 260px;
    height: 100px;

    
}


/*body*/
div.faq_div{
    display: block;
    max-width:980px;
    margin: auto;
}

h1 {
    display: block;
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}


table {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

    table tr td > a {
        text-decoration: none;
        font-weight: bold;
        color: #5c3d2e;
    }

a:hover, a:visited {
    color: #5c3d2e;
}

div#product, div#payment, div#delivery, div#storage{
    margin-bottom: 100px;
}

p {
    display: none;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #5c3d2e;
}

hr {
    color: black;
}

.ques_box {
    margin-left: 10%;
    width: 80%;
}

h3 {
    cursor: pointer;
    color: rosybrown;
}




div.ContactUs{
    width: 180px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgb(92, 61, 46);
    border-top-left-radius: 10px;
    color: whitesmoke;
    

}

div.ContactUs a{
    font-size: 25px;
    text-align: center;
    padding-left: 5px;
    color: whitesmoke;
    text-decoration: none;
    vertical-align:5px;
}

div.ContactUs:hover{
    background-color: rgb(134, 84, 57);
}

div.ContactUs i{
    padding-left:10px ;
    padding-top: 5px;
  
}
/*footer*/
footer{
    width: 100%;
    background-color: black;
    color: whitesmoke;
    margin: 0px;
    position: absolute;
    left: 0px;
    z-index: -1;
    display: block;
   
}

table.footer{
    margin-left:0;
    margin-right: auto;
    margin-top: 100px;
    width: 80%;
    font-size: 16px;
}

table.footer tr th{
    text-align: center;
    font-size: 25px;
}

table.footer tr td{
    text-align: left;
    
}

table.footer tr td ul li{
    list-style-type: none;
}

table.footer tr td ul li >a{
    text-decoration: none;
    color: gray;
    font-style: italic;
}

table.footer tr td ul li >a:hover{
    color: blue;
}

table.footer tr td ul{
    margin: 0%;
}

table.footer tr td ul.location{
    padding-left: 35%;
}

table.footer tr td ul.menu{
    padding-left: 30%;
    line-height: 30px;
    padding-top: 20px;
}

table.footer tr td ul.moreinformation{
    padding-left: 29%;
    line-height: 30px;
}

table.footer tr td ul.contact{
    padding-left: 30%;
    line-height: 30px;
}

footer h5{
    margin: 0%;
    width: 400px;
    padding-left: 45%;
    font-size: 83%;
}
