@charset "utf-8";
html{
    font-family: 'Times New Roman', Times, serif;
}

body {
    counter-reset: title;
    margin: auto;
    background-color: rgb(245, 232, 199);
    font-family: 'Times New Roman', Times, serif;
   
}

nav.header ul{
    list-style-type: none;
    margin: 8px;
    margin-right: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(92, 61, 46);
    height: 100px;
    width: 99.3%;
    border-radius: 20px;
  }
  
  
  nav.header ul li{
    float: left;
    width: auto;
  } 
  
  nav.header li:hover{
    background-color: rgb(134, 84, 57);
  }
  
  nav.header ul li>a{
    display: block;
    padding: 0;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    padding: 33px 30px;
    
  }
  
  nav.header ul li > a > img{
    display: block;
    width: 260px;
    height: 100px;
  }

/*body*/

div.w_thing{
   max-width: 980px;
   margin: auto;
}


    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(92, 61, 46);
        height: 100px;
        border-radius: 20px;
        flex: 1 1 auto;
    }

nav li {
    float: left;
}

nav li:hover {
        background-color: rgb(134, 84, 57);
    }

 nav li > a {
        display: block;
        padding: 33px 30px;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        color: whitesmoke;
    }

     nav li > a > img {
            display: block;
            width: 260px;
            height: 100px;
        }


.tnc > li {
    color: #e67300;
    font-size: 24px;
    font-weight: bold;
}



div > li {
    font-size: 20px;
    counter-increment: title;
}

ol.term {
    counter-reset: term;
    padding: 8px;
}

    ol.term li {
        display: block;
        position: relative;
        padding: 10px;
    }

        ol.term li::before {
            counter-increment: term;
            content: counter(title) "." counter(term);
            margin-right: 2%;
            right: 10px;
        }

div.tnc {
    margin: 50px;
}

h1 {
    text-align: center;
    margin: 50px;
}

div.ContactUs{
    width: 180px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgb(92, 61, 46);
    border-top-left-radius: 10px;
    color: whitesmoke;
    

}

div.ContactUs a{
    font-size: 25px;
    text-align: center;
    padding-left: 5px;
    color: whitesmoke;
    text-decoration: none;
    vertical-align:5px;
}

div.ContactUs:hover{
    background-color: rgb(134, 84, 57);
}

div.ContactUs i{
    padding-left:10px ;
    padding-top: 5px;
  
}


/*footer*/
footer{
    width: 100%;
    background-color: black;
    color: whitesmoke;
    margin: 0px;
    position: absolute;
    left: 0px;
    z-index: -1;
    display: block;
    margin-top: 50px; 
}

table.footer{
    margin-left:0;
    margin-right: auto;
    margin-top: 100px;
    width: 80%;
    font-size: 16px;
}

table.footer tr th{
    text-align: center;
    font-size: 25px;
}

table.footer tr td{
    text-align: left;
    
}

table.footer tr td ul li{
    list-style-type: none;
}

table.footer tr td ul li >a{
    text-decoration: none;
    color: gray;
    font-style: italic;
}

table.footer tr td ul li >a:hover{
    color: blue;
}

table.footer tr td ul{
    margin: 0%;
}

table.footer tr td ul.location{
    padding-left: 35%;
}

table.footer tr td ul.menu{
    padding-left: 30%;
    line-height: 30px;
    padding-top: 20px;
}

table.footer tr td ul.moreinformation{
    padding-left: 29%;
    line-height: 30px;
}

table.footer tr td ul.contact{
    padding-left: 30%;
    line-height: 30px;
}

footer h5{
    margin: 0%;
    width: 400px;
    padding-left: 45%;
    font-size: 83%;
}